{% if content.body %}
    <div class="relative h-[400px] w-full">
        {% if content.field_hero_image %}
            {% set image = content.field_hero_image['#items'][0] %}
            <img src="{{ file_url(image.entity.uri.value) }}"
                 alt="{{ image.alt }}"
                 loading="lazy"
                 class="object-cover w-full h-full opacity-40 absolute" />
        {% endif %}
        <div class="absolute top-0 left-0 flex h-[400px] font-sans font-light w-full">
            <div class="my-auto mx-auto w-4/5 md:w-2/3 text-2xl text-light">{{ content.body }}</div>
        </div>
    </div>
{% endif %}
