<div class="w-full border-black border-y-2 py-4 flex bg-[#57a6b2]">
    <div class="w-1/2 mx-auto flex items-center text-white">
        <h1 class="text-2xl font-bold mr-6">Stay Tuned:</h1>
        <a href="mailto://info@counteringextremism.org/"><i data-lucide="mail"></i></a>
    </div>
</div>
