<div class="layout-container">
    {% if page.header %}
        <header role="banner">
            {{ page.header }}
        </header>
    {% endif %}
    {% if page.breadcrumb %}{{ page.breadcrumb }}{% endif %}
    <main role="main">
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
    </main>
    <footer role="contentinfo">
        {{ page.footer }}
    </footer>
</div>
