{% if content %}
    <footer class="flex flex-col w-full mt-16">
        <div class="flex w-1/2 mx-auto">{{ content }}</div>
        <div class="flex w-1/2 mx-auto">&copy; {{ 'now'|date("Y") }}.</div>
    </footer>
{% endif %}
